.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.myButton {
	box-shadow: -50px 50px 50px -13px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #429e4b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:-50px -32px 4px #2f6627;
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
    position:relative;
	top:1px;
}
.Bigbutton {
	box-shadow:inset 0px -50px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:14px;
	border:12px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-style:italic;
	padding:32px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.bluegreen {
	box-shadow: 0px 0px 0px 2px #122966;
	background:linear-gradient(to bottom, #7892c2 5%, #00ff00 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #080808;
	display:inline-block;
	cursor:pointer;
	color:#690969;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d0daf2;
}
.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}