.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.new-btn{
    background: #17aa56;
	color: #fff;
	border-radius: 7px;
	box-shadow: 0 5px #119e4d;
	padding: 25px 60px 25px 90px;
    display: inline-block;
	width: 100%;
}

.blue-blur{
    box-shadow:inset 27px 26px 4px -15px #276873;
	background-color:#599bb3;
	border-radius:10px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:19px 23px;
	text-decoration:none;
}
.blue-small {
	box-shadow: 0px 0px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:8px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}